.App {
  text-align: left;
}

.App-header {
  padding-top: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom, #CCC, #FFF);
  color: #222;
}

.App-intro {
  padding: 10px;
  font-size: large;
}

.nav-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sticky-header {
  background-image: linear-gradient(to bottom, #EEE, #FFF);
  z-index: 999;
}


.github-corner > svg {
  fill: #FF8A80;
  color: #fff;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  z-index: 2000;
}
/* GitHubFlag animation: */
.github-corner:hover .octo-arm {animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}



.query-box {
  background-color: #FFF;
  border-color: #DDD;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 10px;
  overflow-y: auto;
}

.filter-form {
  border-color: #FF8A80;
  background-color: #FF8A80;
  height: 400px;
}

.projection-form {
  border-color: #B9F6CA;
  background-color: #B9F6CA;
  height: 400px;
}

.sort-form {
  border-color: #B2EBF2;
  background-color: #B2EBF2;
  height: 175px;
}

.page-form {
  border-color: #FFFF8D;
  background-color: #FFFF8D;
  height: 225px;
}


.query-string {
  height: 60px;
  padding: 5px;
  background-color: #333;
  white-space: pre-wrap;
}

.request-button {
  height: 60px;
  background-image: linear-gradient(to top right, #FF8A80, #FF5252);
}

.default-query {
  color: #aaa;
}

.filter-query {
  color: #FF8A80;
}

.projection-query {
  color: #B9F6CA;
}

.sort-query {
  color: #B2EBF2;
}

.page-query {
  color: #FFFF8D;
}



.query-response {
  min-height: 400px;
}

.response-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  z-index: 1000
}


/* Replicate bootstrap styles for nav <a> instead of <li> (to allow direct use of router NavLink) */
.nav > a {
  position: relative;
  display: block;
}
.nav > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > a:hover,
.nav > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav-tabs > a {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > a.active,
.nav-tabs > a.active:hover,
.nav-tabs > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}